student.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="student">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:byte" name="id"/>
                <xs:element type="xs:string" name="firstName"/>
                <xs:element type="xs:string" name="lastName"/>
                <xs:element type="xs:string" name="code"/>
                <xs:element name="account">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="id"/>
                            <xs:element type="xs:string" name="password"/>
                            <xs:element type="xs:string" name="username"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="subjects">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="subject" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:byte" name="id"/>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element type="xs:byte" name="credits"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
